.loadBtn{
  display: block;
  width: 140px;
  text-align: center;
  margin-top: 20px;  
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  color:rgb(114, 17, 17);
 border: 1px solid rgb(114, 17, 17);
  background-color: rgb(235, 144, 25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, .15);
  border-radius: 4px;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'Comic Sans MS';
  font-size: 16px;
  font-weight: 700;
}

.loadBtn:hover {
  color: white;
  background-color: rgb(114, 17, 17);
}