

.advert{
  width: 90%;
  height: 80%;
  padding: 4px 8px;
  border: 2px solid #f1dbba;
  border-radius: 4px;
  text-align: center;
  background-color: #94c751;
  color:green;
  font-family: 'Comic Sans MS';
  font-weight: 700;
  animation-direction: alternate;
  animation-name: move;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  display: flex;
  align-items: center;
  justify-content: center;
}

.advertWinner{
   width: 150px;
  padding: 4px 8px;
  border: 2px solid #f1dbba;
  border:1px solid rgb(114, 17, 17);
  border-radius: 4px;
  text-align: center;
  background-color: rgb(235, 144, 25);
  color:rgb(114, 17, 17);
  font-family: 'Comic Sans MS';
  font-weight: 700;
  animation-direction: alternate;
  animation-name: move;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  
  font-family: 'Comic Sans MS';
  font-family: 'Sansita Swashed';
}



.advertContainer{
    width: 500px;
    height: 90px;
    display: flex;
    align-items: center;
    
    border:2px solid #f1dbba;
    background-color: #c2e297;
    padding: 10px;
    border-radius: 4px;
    box-shadow: inset 0 0 10px 5px rgba(0, 0, 0, 0.3);
}

@keyframes move {
  0% {
    transform: translatex(0);
  }

  100% {
    transform: translatex(50px);
  }
}